<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
	
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> 
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript"
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style type="text/css">
li a {
	font-size: 20px;
}

li input {
	font-size: 20px;
}

nav {
	padding: 10px;
	color: bule;
}

#addbutton {
	border: none;
	margin-left: 15px;
	background: blue;
}

nav {
	background-color: red;
	border-color: blue;
}

<
style type ="text /css">a:link {
	color: red;
}

/* visited link */
a:visited {
	color: green;
}

/* mouse over link */
a:hover {
	color: hotpink;
}

/* selected link */
a:active {
	color: blue;
}
</style>
</head>
<body>
	<div th:fragment="header">
		<nav class="navbar navbar-inverse">

			<ul class="nav navbar-nav">
				<li class="active"><a style="color: white;" href="/admin/home">Home</a></li>
				<li><a style="color: white;" href="/admin/createNewEmployee">Create
						Employee</a></li>
				<li><a style="color: white;" href="/admin/addProduct">Add
						Product</a></li>
				<li><a style="color: white;" href="/admin/viewEmployee">View
						Employee</a></li>
				<li><a style="color: white;" href="/admin/viewProducts">View
						Products</a></li>
				<li><a style="color: white;" href="/admin/viewSales">View
						Sales</a></li>

				<li class="dropdown"><a style="color: white;"
					class="dropdown-toggle" data-toggle="dropdown" href="#">View
						Reports <span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="/admin/dailyReport">Daily Report</a></li>
						<li><a href="/admin/monthlyReport">Monthly Report</a></li>
						<li><a href="/admin/yearlyReport">Yearly Report</a></li>
						<li><a href="/admin/priceReport">Price Report</a></li>
					</ul></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a style="color: white;"
					class="dropdown-toggle" data-toggle="dropdown" href="#">My
						Account <span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="/admin/viewAccount">View Account</a></li>
						<li><a href="/admin/changePassword">Change Password</a></li>
						<li><a href="/logout">Logout</a>
					</ul></li> Logged In as:
				<li class="navbar-text"
					th:text="${#request.userPrincipal.principal.username}"></li>


			</ul>

		</nav>
	</div>
</body>
</html>