<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style type="text/css">
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}


</style>
</head>
<body>
	<div th:fragment="header">
		<nav class="navbar navbar-inverse">

			<ul class="nav navbar-nav">
				<li class="active"><a href="home">Home</a></li>
				<li><a class="w3-bar-item w3-button w3-hover-blue" href="addSales">Add Sales</a></li>
				<li><a class="w3-bar-item w3-button w3-hover-blue" href="editSales">Edit Sales</a></li>
				


			</ul>
			<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">My Account <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="viewAccount">View Account</a></li>
							<li><a href="changePassword">Change Password</a></li>
							<li><a href="/logout">Logout</a> </ul></li>

			 Logged In as:
				<li class="navbar-text"
					th:text="${#request.userPrincipal.principal.username}"></li>
				</ul>
			
		</nav>
	</div>

</body>
</html>