<div th:fragment="footer">

	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<h6>About</h6>
					<p class="text-justify">World Fuel Services delivers trusted
						energy solutions. Every day, we provide a powerful integrated
						platform to optimize energy, logistics, and related services for
						Aviation, Marine, Commercial, Industrial, and Land Transportation
						customers around the world. Learn how we can support your energy
						needs.</p>
				</div>


				<div class="col-xs-6 col-md-3">
					<h6>Contact Us</h6>
					<p>fuelstationmanagement@gmail.com</p>
				</div>
			</div>
			<hr>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-6 col-xs-12">
					<p class="copyright-text">
						Copyright &copy; 2020 All Rights Reserved by <a href="#">Fuel
							Services</a>.
					</p>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12">
					<ul class="social-icons">
						<li><a class="facebook" href="#"><i
								class="fa fa-facebook"></i></a></li>
						<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a class="dribbble" href="#"><i
								class="fa fa-dribbble"></i></a></li>
						<li><a class="linkedin" href="#"><i
								class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		
	</footer>
	</div>