<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Fuel Station</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/fuelstation_bootstrap.css"
	th:href="@{/css/fuelstation_bootstrap.css}" />

</head>

<body>

	<form action="#" th:action="@{addSales}" method="post">


		<label>Product:</label> <select th:field="*{product }">
			<option value="default">Select a country</option>
			<option th:each="product: ${products}" th:value="${product }"
				th:text="${product }" />
		</select>

		<button type="submit">Next</button>
	</form>


</body>

</html>