<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Fuel Station</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link th:href="@{/css/footer.css}" rel="stylesheet" />
<script>
	function formatDate() {
		var d = new Date(), month = '' + (d.getMonth() + 1), day = ''
				+ d.getDate(), year = d.getFullYear();

		if (month.length < 2)
			month = '0' + month;
		if (day.length < 2)
			day = '0' + day;

		return [ year, month, day ].join('-');
	}
	function setDate() {
		document.getElementById("date").value = formatDate();
		document.getElementById("date").readOnly = true;
	}
</script>
</head>


<body onload="setDate()">
	<div th:replace="fragments/employee_header :: header"></div>

	<div class="container">
		<h2>Add Sale Details</h2>

		<div align="center" style="color: red">
			<p th:text="${message}"></p>
		</div>
		<div align="center" style="color: red">
			<p th:text="${successMessage}"></p>
		</div>
		<form action="#" th:action="@{addSales}" method="post"
			th:object="${sales}">

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Product:</label>
				<div class="col-sm-2">

					<select class="form-control custom-select"
						th:field="*{products.name}" th:required="required">
						<option value="" selected disabled>Select</option>
						<option th:each="product : ${prods}" th:value="${product}"
							th:utext="${product}" />
					</select>

				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Date: </label>
				<div class="col-sm-2">
					<input class="form-control" id="date" type="text"
						th:field="*{date}" />
				</div>
			</div>
			<br />

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Quantity:</label>
				<div class="col-sm-2">
					<input class="form-control" type="number"
						th:field="*{products.quantity}" th:required="required" />
				</div>
			</div>
			<br />

			<div class="form-group row">
				<button class="btn btn-primary" type="submit">Add</button>
				<div class="col-sm-2">
					<button class="btn btn-primary" type="reset">Reset</button>
				</div>
				<br />
			</div>

		</form>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>