<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Fuel Station</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link th:href="@{/css/footer.css}" rel="stylesheet" />
</head>


<body>
	<div th:replace="fragments/admin_header :: header"></div>
	<div class="container">

		<h2>Add Product</h2>
		<div style="color: green">
			<p style="font-size: 150%;" th:text="${successMessage}"></p>
		</div>
		<div style="color: red">
			<p style="font-size: 150%;" th:text="${message}"></p>
		</div>
		<form action="#" th:action="@{addProduct}" method="post"
			th:object="${product}">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Product Name:</label>
				<div class="col-sm-2">
					<input class="form-control" type="text" th:field="*{name}"
						th:required="required" pattern="^[a-zA-Z0-9 ]*$" />
				</div>
				<br />
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Current Price:</label>
				<div class="col-sm-2">
					<input class="form-control" type="number"
						th:field="*{currentPrice}" th:required="required" pattern="[0-9]+" />
				</div>
				<br />
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Stock:</label>
				<div class="col-sm-2">
					<input class="form-control" type="text"
						th:field="*{stock.quantity}" th:required="required"
						pattern="[0-9]+" min="1" />
				</div>
				<br />
			</div>
			<div class="form-group row">
				<button class="btn btn-primary" type="submit">Add</button>
				<div class="col-sm-2">
					<button class="btn btn-primary" type="reset">Reset</button>
				</div>
				<br />
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>