<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Fuel Station</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link th:href="@{/css/footer.css}" rel="stylesheet" />
</head>


<body>
	<div th:replace="fragments/admin_header :: header"></div>

	<div class="container">
		<h2>Update Password</h2>
		<p th:text="${message}"></p>
		<form action="#" th:action="@{changePassword}" method="post">


			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Old Password:</label>
				<div class="col-sm-2">
					<input class="form-control" type="password" th:name="oldPassword" />
				</div>
				<br />
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">New Password:</label>
				<div class="col-sm-2">
					<input class="form-control" type="password" th:name="newPassword" />
				</div>
				<br />
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Confirm Password:</label>
				<div class="col-sm-2">
					<input class="form-control" type="password"
						th:name="confirmPassword" />
				</div>
				<br />
			</div>
			<div class="form-group row">
				<button class="btn btn-primary" type="submit">Change
					Password</button>
				<div class="col-sm-2">
					<button class="btn btn-primary" type="reset">Reset</button>
				</div>
				<br />
			</div>
		</form>
		<div align="center" style="color: red">
			<p th:text="${message}"></p>
		</div>
		<div align="center" style="color: green">
			<p th:text="${successMessage}"></p>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>