<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Fuel Station</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link th:href="@{/css/footer.css}" rel="stylesheet" />
</head>


<body>
	<div th:replace="fragments/admin_header :: header"></div>

	<div class="container">

		<h2>Create Employee</h2>
		<div style="color: green">
			<p style="font-size: 150%;" th:text="${successMessage}"></p>
		</div>
		<div style="color: red">
			<p style="font-size: 150%;" th:text="${message}"></p>
		</div>
		<form action="#" th:action="@{createNewEmployee}" method="post"
			th:object="${employee}">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">User name:</label>
				<div class="col-sm-2">
					<input class="form-control" type="text" th:field="*{userName}"
						th:required="required" pattern="^[a-zA-Z0-9 ]*$" />
				</div>
				<br />
			</div>

			<div class="form-group row">

				<label class="col-sm-2 col-form-label">User Type:</label>
				<div class="col-sm-2">
					<select class="form-control custom-select" th:field="*{roles}"
						th:required="required">
						<option th:value="'ADMIN'" th:text="Admin"></option>
						<option th:value="'EMPLOYEE'" th:text="Employee"></option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Email:</label>
				<div class="col-sm-2">
					<input class="form-control" type="email" th:field="*{email}"
						th:required="required"
						pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
				</div>
				<br />
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Phone:</label>
				<div class="col-sm-2">
					<input class="form-control" type="text" th:field="*{phone}"
						th:required="required" pattern="\d{10}" />
				</div>
				<br />
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Salary:</label>
				<div class="col-sm-2">
					<input class="form-control" type="text" th:field="*{salary}"
						th:required="required" pattern="[0-9]+" />
				</div>
				<br />
			</div>
			<div class="form-group row">
				<button class="btn btn-primary" type="submit">Register</button>
				<div class="col-sm-2">
					<button class="btn btn-primary" type="reset">Reset</button>
				</div>
				<br />
			</div>
		</form>
	</div>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>