<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Fuel Station</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script type="text/javascript"
	src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.5.1.js"></script>

<link th:href="@{/css/table.css}" rel="stylesheet" />
<link th:href="@{/css/footer.css}" rel="stylesheet" />
<script type="text/javascript">
	function searchByDate() {
		var input, filter, table, tr, td, i, txtValue;
		input = document.getElementById("date");
		filter = input.value.toUpperCase();
		table = document.getElementById("salesTable");
		tr = table.getElementsByTagName("tr");
		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[0];
			if (td) {
				txtValue = td.textContent || td.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}
	function searchByProduct() {
		var input, filter, table, tr, td, i, txtValue;
		input = document.getElementById("product");
		filter = input.value.toUpperCase();
		table = document.getElementById("salesTable");
		tr = table.getElementsByTagName("tr");
		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[1];
			if (td) {
				txtValue = td.textContent || td.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}
</script>
<style>
.pagination-centered {
	text-align: center;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}
</style>

</head>

<body>
	<div th:replace="fragments/admin_header :: header"></div>

	<div class="container">
		<h2>Daily Sale Details</h2>


		<form action="#" th:action="@{viewDailyReport}">

			<div class="form-group row">
				<div class="col-sm-1"></div>
				<label class="col-sm-2 col-form-label">Select Month:</label>
				<div class="col-sm-2">
					<input class="form-control" type="month" th:name="month"
						th:required="required" />
				</div>
				<div>
					<button class="btn btn-primary" type="submit">View</button>
				</div>
			</div>

			<div class="col-md-1"></div>
			<div class="col-md-4">
				Search By Date: <input class="text" type="date" th:name="date"
					th:onChange="searchByDate()" id="date" />
			</div>
			<div class="col-sm-1"></div>

			<label class="col-sm-2 col-form-label">Search By Product:</label>
			<div class="col-sm-2">
				<select onchange="searchByProduct()"
					class="form-control custom-select" id="product" th:name="product">
					<option value="product" selected disabled>Choose Product</option>

					<option th:each="product : ${products}" th:value="${product}"
						th:utext="${product}" />
				</select>
			</div>

		</form>
	</div>
	<div align="center" style="color: red">
		<p th:text="${message}"></p>
	</div>
	<div align="center">
		<p style="font-size: 150%;" th:text=" ${month}"></p>
	</div>
	<table id="salesTable" class="w3-table-all w3-hoverable" border="1">
		<tr>

			<th>Date</th>

			<th>Product Name</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Total Price</th>
			<!-- <th>Profit (in Rs.)</th> -->

		</tr>
		<!-- <tr th:each="profit :${profits}"> -->
		<tr th:each="sales :${sale}">
			<td th:text="${sales.getDate()}"></td>
			<td th:text="${sales.getName()}"></td>
			<td th:text="${sales.getTotalQty()}"></td>
			<td th:text="${sales.getPrice()}"></td>
			<td th:text="${sales.getNewTotalPrice()}"></td>
			<!-- <td th:text="${profit}"></td> -->
		</tr>
	</table>

	<div th:if="!${#lists.isEmpty(sale)}">

		<div class="row" align="right">
			<div class="form-group col-md-1">
				<select class="form-control pagination" id="pageSizeSelect">
					<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
						th:value="${pageSize}"
						th:selected="${pageSize} == ${selectedPageSize}"></option>
				</select>
			</div>

			<div th:if="${sale.totalPages != 1}"
				class="form-group col-md-11 pagination-centered">
				<ul class="pagination">
					<li th:class="${sale.number == 0} ? disabled"><a
						class="pageLink"
						th:href="@{/admin/viewDailyReport/(pageSize=${selectedPageSize}, page=1)}">«</a></li>
					<li th:class="${sale.number == 0} ? disabled"><a
						class="pageLink"
						th:href="@{/admin/viewDailyReport/(pageSize=${selectedPageSize}, page=${sale.number})}">←</a>
					</li>
					<li
						th:class="${sale.number == (page - 1)} ? 'active pointer-disabled'"
						th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
						<a class="pageLink"
						th:href="@{/admin/viewDailyReport/(pageSize=${selectedPageSize}, page=${page})}"
						th:text="${page}"></a>
					</li>
					<li th:class="${sale.number + 1 == sale.totalPages} ? disabled">
						<a class="pageLink"
						th:href="@{/admin/viewDailyReport/(pageSize=${selectedPageSize}, page=${sale.number + 2})}">→</a>
					</li>
					<li th:class="${sale.number + 1 == sale.totalPages} ? disabled">
						<a class="pageLink"
						th:href="@{/admin/viewDailyReport/(pageSize=${selectedPageSize}, page=${sale.totalPages})}">»</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			changePageAndSize();
		});
		function changePageAndSize() {
			$('#pageSizeSelect').change(
					function(evt) {
						window.location
								.replace("/admin/viewDailyReport/?pageSize="
										+ this.value + "&page=1");
					});
		}
		/*]]>*/
	</script>

	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>