<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Fuel Station</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script type="text/javascript"
	src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link th:href="@{/css/footer.css}" rel="stylesheet" />
<link th:href="@{/css/table.css}" rel="stylesheet" />
<script type="text/javascript">
	$(document).ready(function() {
		$('#myTable').dataTable();
		$('.dataTables_length').addClass('bs-select');
	});
</script>

</head>
<body>
	<div th:replace="fragments/employee_header :: header"></div>
	<div class="container">

		<h2>Edit Sales</h2>
		<p th:text="${Message}" style="font-size: 160%;"></p>
		<table id="myTable">
			<thead>
				<tr>

					<th>Date</th>

					<th>Name</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Edit</th>
					<th>Delete</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="sale : ${sales}">

					<td th:text="${sale.date}"></td>
					<td th:text="${sale.getProducts().getName()}"></td>
					<td th:text="${sale.getProducts().getPrice()}"></td>
					<td th:text="${sale.getProducts().getQuantity()}"></td>


					<td>
						<form action="#" th:action="@{updateSales}" method="post">
							<button class="btn btn-success btn-sm" id="btn"
								th:value="${sale.id}" name="id" type="submit">Edit</button>

						</form>
					</td>
					<td>
						<form action="#" th:action="@{deleteSales}" method="post">
							<button class="btn btn-danger btn-sm" id="btn"
								th:value="${sale.id}" name="id" type="submit">Delete</button>

						</form>
					</td>

				</tr>
			</tbody>

		</table>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>