<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Fuel Station</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link th:href="@{/css/table.css}" rel="stylesheet" />
<link th:href="@{/css/footer.css}" rel="stylesheet" />
<style type="text/css">
img {
	max-width: 100%;
}

.logo {
	margin-top: -20px;
	max-height: 150px;
	display: block;
	float: left;
	width: 100%;
	border-top: 0;
}

.airoplane {
	max-height: 350px;
	width: 100%;
}

.ship {
	max-height: 350px;
	width: 100%;
}

.car {
	max-height: 350px;
	width: 100%;
}

h2.heading {
	margin-top: 200px;
	text-align: center;
}

.Aviation {
	position: absolute;
	top: 230px;
	left: 96px;
	font-style: initial;
	font-size: large;
	font-family: sans-serif;
	font-weight: 800;
	color: black;
}

.Marine {
	position: absolute;
	top: 580px;
	left: 96px;
	font-style: initial;
	font-size: large;
	font-family: sans-serif;
	font-weight: 800;
	color: black;
}

.Land {
	position: absolute;
	top: 930px;
	left: 96px;
	font-style: initial;
	font-size: large;
	font-family: sans-serif;
	font-weight: 800;
	color: black;
}

h2.heading {
	margin-top: 200px;
	text-align: center;
}
</style>

</head>

<body>

	<div th:replace="fragments/employee_header :: header"></div>
	<img class="logo" src="../static/images/Demand-Fuel-Logo.png"
		th:src="@{/images/Demand-Fuel-Logo.png}">
	<img class="airoplane" src="../static/images/airoplane.jpg"
		th:src="@{/images/airoplane.jpg}">
	<div class="Aviation">
		Aviation<br /> Airports and FBOs trust World Fuel Services for
		reliable branded and unbranded fuel supply and brand programs that
		build your business.
	</div>
	<img class="ship" src="../static/images/ships.jpg"
		th:src="@{/images/ships.jpg}">
	<div class="Marine">
		Marine<br /> Quality marine fuel from an experienced supply partner
	</div>
	<img class="car" src="../static/images/car.jpg"
		th:src="@{/images/car.jpg}">
	<div class="Land">
		Land<br /> We are delivering on time and in full, we are there when
		you need us, where you need us.
	</div>


	<h2 class="heading">Todays Price Details</h2>


	<p th:text="${message}"></p>
	<div>
		<table>
			<tr>

				<th>product Name</th>

				<th>Price</th>

			</tr>
			<tr th:each="product : ${prices}">

				<td th:text="${product.name}"></td>
				<td th:text="${product.currentPrice}"></td>



			</tr>
		</table>


	</div>
	<div></div>

	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>