<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{default}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
	font-family: Arial, Helvetica, sans-serif;
}

form {
	margin:auto;
	width:50%;
}

input[type=text], input[type=password] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 60%;
}

button:hover {
	opacity: 0.8;
}



.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}


.container {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
}
</style>
</head>
<body>

	<h2 align="center">Login Form</h2>

	<form class="form-signin" th:action="@{/login}" method="post">

		<div class="container" align="center">
			<div align="center" style="color: red">
				<p th:text="${message}"></p>
			</div>
			<div align="center" style="color: green">
				<p th:text="${successmessage}"></p>
			</div>
			<label for="uname"><b>User Name</b></label> <input type="text"
				placeholder="Enter Username" name="email" required> <label
				for="psw"><br><b>Password</b></label> <input type="password"
				placeholder="Enter Password" name="password" required>

			<button type="submit">Login</button>

		</div>

	</form>

</body>
</html>
