<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Fuel Station</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script type="text/javascript"
	src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link th:href="@{/css/table.css}" rel="stylesheet" />
<link th:href="@{/css/footer.css}" rel="stylesheet" />
<script type="text/javascript">
	function searchByMonth() {
		var input, filter, table, tr, td, i, txtValue;
		input = document.getElementById("month");
		filter = input.value.toUpperCase();
		table = document.getElementById("salesTable");
		tr = table.getElementsByTagName("tr");
		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[0];
			if (td) {
				txtValue = td.textContent || td.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}
</script>
<style>
.pagination-centered {
	text-align: center;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}
</style>

</head>

<body>
	<div th:replace="fragments/admin_header :: header"></div>

	<div class="container">
		<h2>View Sale Details</h2>
		<br>

		<form action="#" th:action="@{viewPriceReport}" method="post">

			<div class="form-group row">
				<div class="col-sm-2"></div>
				<label class="col-sm-2 col-form-label">Select Product
					Variants:</label>
				<div class="col-sm-2">
					<select class="form-control custom-select" th:value="product"
						th:required="required" th:name="product">
						<option th:value="'petroldiesel'">Petrol and Diesel</option>
						<option th:value="'other'">Other Products</option>

					</select>
				</div>

				<div>
					<button class="btn btn-primary" type="submit">Search</button>
				</div>
			</div>
			<div class="col-sm-2"></div>

			<label class="col-sm-2 col-form-label">Search By Month:</label>
			<div class="col-sm-2">
				<input class="text" type="month" th:name="month"
					th:onChange="searchByMonth()" id="month" />
			</div>

		</form>
	</div>

	<div align="center" style="color: red">
		<p th:text="${message}"></p>
	</div>
	<div th:if="!${#lists.isEmpty(petroldieselprices)}">
		<table id="salesTable">
			<tr>
				<th>Date</th>
				<th>Petrol Price</th>
				<th>Diesel Price</th>
			</tr>
			<tr th:each="price : ${petroldieselprices}">
				<td th:text="${price.date}"></td>
				<td th:text="${price.petrolPrice}"></td>
				<td th:text="${price.dieselPrice}"></td>
			</tr>
		</table>
		<div class="row" align="right">
			<div class="form-group col-md-1">
				<select class="form-control pagination" id="pageSizeSelect">
					<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
						th:value="${pageSize}"
						th:selected="${pageSize} == ${selectedPageSize}"></option>
				</select>
			</div>

			<div th:if="${petroldieselprices.totalPages != 1}"
				class="form-group col-md-11 pagination-centered">
				<ul class="pagination">
					<li th:class="${petroldieselprices.number == 0} ? disabled"><a
						class="pageLink"
						th:href="@{/admin/viewPriceReport/(pageSize=${selectedPageSize}, page=1)}">«</a></li>
					<li th:class="${employeeList.number == 0} ? disabled"><a
						class="pageLink"
						th:href="@{/admin/viewPriceReport/(pageSize=${selectedPageSize}, page=${petroldieselprices.number})}">←</a>
					</li>
					<li
						th:class="${petroldieselprices.number == (page - 1)} ? 'active pointer-disabled'"
						th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
						<a class="pageLink"
						th:href="@{/admin/viewPriceReport/(pageSize=${selectedPageSize}, page=${page})}"
						th:text="${page}"></a>
					</li>
					<li
						th:class="${petroldieselprices.number + 1 == petroldieselprices.totalPages} ? disabled">
						<a class="pageLink"
						th:href="@{/admin/viewPriceReport/(pageSize=${selectedPageSize}, page=${petroldieselprices.number + 2})}">→</a>
					</li>
					<li
						th:class="${petroldieselprices.number + 1 == petroldieselprices.totalPages} ? disabled">
						<a class="pageLink"
						th:href="@{/admin/viewPriceReport/(pageSize=${selectedPageSize}, page=${petroldieselprices.totalPages})}">»</a>
					</li>
				</ul>
			</div>
		</div>

	</div>
	<div th:if="!${#lists.isEmpty(prices)}">
		<table id="salesTable">
			<tr>

				<th>Date</th>
				<th>Product Name</th>
				<th>Price</th>


			</tr>
			<tr th:each="price : ${prices}">


				<td th:text="${price.date}"></td>
				<td th:text="${price.name}"></td>
				<td th:text="${price.currentPrice}"></td>


			</tr>
		</table>
		<div class="row" align="right">
			<div class="form-group col-md-1">
				<select class="form-control pagination" id="pageSizeSelect">
					<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
						th:value="${pageSize}"
						th:selected="${pageSize} == ${selectedPageSize}"></option>
				</select>
			</div>

			<div th:if="${prices.totalPages != 1}"
				class="form-group col-md-11 pagination-centered">
				<ul class="pagination">
					<li th:class="${prices.number == 0} ? disabled"><a
						class="pageLink"
						th:href="@{/admin/viewPriceReport/(pageSize=${selectedPageSize}, page=1)}">«</a></li>
					<li th:class="${employeeList.number == 0} ? disabled"><a
						class="pageLink"
						th:href="@{/admin/viewPriceReport/(pageSize=${selectedPageSize}, page=${prices.number})}">←</a>
					</li>
					<li
						th:class="${prices.number == (page - 1)} ? 'active pointer-disabled'"
						th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
						<a class="pageLink"
						th:href="@{/admin/viewPriceReport/(pageSize=${selectedPageSize}, page=${page})}"
						th:text="${page}"></a>
					</li>
					<li th:class="${prices.number + 1 == prices.totalPages} ? disabled">
						<a class="pageLink"
						th:href="@{/admin/viewPriceReport/(pageSize=${selectedPageSize}, page=${prices.number + 2})}">→</a>
					</li>
					<li th:class="${prices.number + 1 == prices.totalPages} ? disabled">
						<a class="pageLink"
						th:href="@{/admin/viewPriceReport/(pageSize=${selectedPageSize}, page=${prices.totalPages})}">»</a>
					</li>
				</ul>
			</div>
		</div>

	</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			changePageAndSize();
		});
		function changePageAndSize() {
			$('#pageSizeSelect').change(
					function(evt) {
						window.location
								.replace("/admin/viewPriceReport/?pageSize="
										+ this.value + "&page=1");
					});
		}
		/*]]>*/
	</script>


	<div th:replace="fragments/footer :: footer"></div>

</body>

</html>