<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<head>
<meta charset="ISO-8859-1">
<title>Fuel Station</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<link th:href="@{/css/footer.css}" rel="stylesheet" />
</head>
<body>

	<div th:replace="fragments/employee_header :: header"></div>

	<div class="container my-5">
		<h3>Edit Sales</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{createSales}" th:object="${sales}"
						method="post">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Product:</label>
							<div class="form-group row">

								<select th:field="*{products.name}">
									<option value="">select</option>
									<option th:each="product : ${prods}" th:value="${product}"
										th:utext="${product}" />
								</select>

							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Date: </label>
							<div class="col-sm-2">
								<input class="form-control" type="text" th:field="*{date}"
									th:readonly="*{date}" />
							</div>
						</div>
						<br />

						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Quantity:</label>
							<div class="col-sm-2">
								<input class="form-control" type="number"
									th:field="*{products.quantity}" />
							</div>
						</div>
						<br />

						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Price:</label>
							<div class="col-sm-2">
								<input class="form-control" type="number"
									th:field="*{products.price}" />
							</div>
						</div>
						<br />
						<!-- <div class="form-group row">
							<label class="col-sm-2 col-form-label">Total Price: </label>
							<div class="col-sm-2">
								<input class="form-control" type="number" th:field="*{products.totalPrice}"
									th:readonly="*{products.totalPrice}" />
							</div>
						</div> -->
						<div class="col-md-6">
							<button class="btn btn-primary" type="submit">Edit</button>

						</div>
						<div class="col-sm-2">
							<a href="/employee/UpdateSalesBack" class="btn btn-primary">Back</a>
						</div>
						<input type="hidden" id="id" th:field="*{id}">

					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>