<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Fuel Station</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link th:href="@{/css/footer.css}" rel="stylesheet" />
</head>

<body>

	<div th:replace="fragments/admin_header :: header"></div>
	<div class="container">
		<div class="container my-5">
			<h3>Update Product</h3>
			<div class="card">
				<div class="card-body">
					<div class="col-md-10">
						<form action="#" th:action="@{createProduct}"
							th:object="${product}" method="post">
							<div class="row">
								<div class="form-group col-md-8">
									<label for="name" class="col-form-label">Name</label> <input
										type="text" th:field="*{name}" class="form-control" id="name"
										placeholder="name" />
								</div>
								<div class="form-group col-md-8">
									<label for="price" class="col-form-label">Price</label> <input
										type="text" th:field="*{currentPrice}" class="form-control"
										id="currentPrice" placeholder="currentPrice" />
								</div>

								<div class="form-group col-md-8">
									<label for="name" class="col-form-label">Stock</label> <input
										type="text" th:field="*{stock.quantity}" class="form-control"
										id="name" placeholder="name" />
								</div>
								<div class="col-md-6">
									<input type="submit" class="btn btn-primary" value=" Submit ">
								</div>
								<div class="col-sm-2">
									<a href="/admin/UpdateProductsback" class="btn btn-primary">Back</a>
								</div>

								<input type="hidden" id="id" th:field="*{id}">

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div th:replace="fragments/footer :: footer"></div>


</body>

</html>