<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Fuel Station</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link th:href="@{/css/footer.css}" rel="stylesheet" />
</head>

<body>

	<div th:replace="fragments/admin_header :: header"></div>

	<div class="container my-5">

		<div class="card">
			<div class="card-header">
				<h3>Update Employee</h3>
			</div>
			<div class="card-body">
				<div class="col-md-10">
					<div align="center" style="color: red; font-size: 150%;">
						<p th:text="${message}"></p>
					</div>

					<form action="#" th:action="@{createEmployee}"
						th:object="${employee}" method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label">First Name</label> <input
									type="text" th:field="*{userName}" class="form-control"
									id="userName" placeholder="userName" />
							</div>
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label">roles</label> <input
									type="text" th:field="*{roles}" class="form-control" id="roles"
									placeholder="roles" />
							</div>
							<div class="form-group col-md-8">
								<label for="email" class="col-form-label">Email</label> <input
									type="text" th:field="*{email}" class="form-control" id="email"
									placeholder="Email Id" />
							</div>
							<div class="form-group col-md-8">
								<label for="phone" class="col-form-label">phone</label> <input
									type="text" th:field="*{phone}" class="form-control" id="phone"
									placeholder="phone" />
							</div>
							<div class="form-group col-md-8">
								<label for="salary" class="col-form-label">Salary</label> <input
									type="text" th:field="*{salary}" class="form-control"
									id="salary" placeholder="salary" />
							</div>


							<div class="col-md-6">
								<input type="submit" class="btn btn-primary" value=" Submit ">
							</div>
							<div class="col-sm-2">
								<a href="/admin/back" class="btn btn-primary">Back</a>
							</div>
							<input type="hidden" id="id" th:field="*{id}"> <input
								type="hidden" th:field="*{password}" />

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>