<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Fuel Station</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script type="text/javascript"
	src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link th:href="@{/css/footer.css}" rel="stylesheet" />
<link th:href="@{/css/table.css}" rel="stylesheet" />

<style>
.pagination-centered {
	text-align: center;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}
</style>

<script type="text/javascript">
function searchByName() {
	var input, filter, table, tr, td, i, txtValue;
	input = document.getElementById("employee_name");
	filter = input.value.toUpperCase();
	table = document.getElementById("employeeTable");
	tr = table.getElementsByTagName("tr");
	for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[0];
		if (td) {
			txtValue = td.textContent || td.innerText;
			if (txtValue.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			} else {
				tr[i].style.display = "none";
			}
		}
	}
}
</script>
</head>
<body>
	<div th:replace="fragments/admin_header :: header"></div>
	<div class="container">
		<h2>View Employees</h2>
		<br>
		<div>
			<p th:text="${msg}"></p>
		</div>
		
	<div class="col-sm-2"></div>

				<label class="col-sm-2 col-form-label">Select Employee:</label>
				<div class="col-sm-2">
					<select onchange="searchByName()" class="form-control custom-select"
						id="employee_name" th:name="employee_name" required="required">
						<option value="userName" selected disabled>Choose
							Employee</option>

						<option th:each="employee : ${employees}" th:value="${employee}"
							th:utext="${employee}" />
					</select>
				</div>
	
	
	
	
			<table id="employeeTable">
				<thead><tr>

					<th>Employee Name</th>

					<th>Role</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Salary</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr></thead>
				<tbody><tr th:each="emp, custStat : ${employeeList}">

					<td th:text="${emp.userName}"></td>
					<td th:text="${emp.roles}"></td>
					<td th:text="${emp.email}"></td>
					<td th:text="${emp.phone}"></td>
					<td th:text="${emp.salary}"></td>

					<td>
						<form action="#" th:action="@{/admin/editEmployee}" method="post">
							<button class="btn btn-success btn-sm" id="btn"
								th:value="${emp.id}" name="id" type="submit">Edit</button>

						</form>
					</td>
					<td>
						<form action="#" th:action="@{/admin/deleteEmployee}"
							method="post">
							<button class="btn btn-danger btn-sm" id="btn"
								th:value="${emp.id}" name="id" type="submit">Delete</button>

						</form>
					</td>

				</tr></tbody>
				
			</table>
		<div class="row" align="right">
		<div class="form-group col-md-1">
			<select class="form-control pagination" id="pageSizeSelect">
				<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
					th:value="${pageSize}"
					th:selected="${pageSize} == ${selectedPageSize}"></option>
			</select>
		</div>
		<div th:if="${employeeList.totalPages != 1}"
			class="form-group col-md-11 pagination-centered">
			<ul class="pagination">
				<li th:class="${employeeList.number == 0} ? disabled"><a
					class="pageLink"
					th:href="@{/admin/viewEmployee/(pageSize=${selectedPageSize}, page=1)}">«</a></li>
				<li th:class="${employeeList.number == 0} ? disabled"><a
					class="pageLink"
					th:href="@{/admin/viewEmployee/(pageSize=${selectedPageSize}, page=${employeeList.number})}">←</a>
				</li>
				<li
					th:class="${employeeList.number == (page - 1)} ? 'active pointer-disabled'"
					th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
					<a class="pageLink"
					th:href="@{/admin/viewEmployee/(pageSize=${selectedPageSize}, page=${page})}"
					th:text="${page}"></a>
				</li>
				<li
					th:class="${employeeList.number + 1 == employeeList.totalPages} ? disabled">
					<a class="pageLink"
					th:href="@{/admin/viewEmployee/(pageSize=${selectedPageSize}, page=${employeeList.number + 2})}">→</a>
				</li>
				<li
					th:class="${employeeList.number + 1 == employeeList.totalPages} ? disabled">
					<a class="pageLink"
					th:href="@{/admin/viewEmployee/(pageSize=${selectedPageSize}, page=${employeeList.totalPages})}">»</a>
				</li>
			</ul>
		</div>
	</div>
		</div>

		<script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
    		changePageAndSize();
		});
		function changePageAndSize() {
   			$('#pageSizeSelect').change(function(evt) {
        	window.location.replace("/admin/viewEmployee/?pageSize=" + this.value + "&page=1");
    		});
		}
        /*]]>*/
    </script>
		<div th:replace="fragments/footer :: footer"></div>
</body>
</html>