<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Fuel Station</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script type="text/javascript"
	src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link th:href="@{/css/footer.css}" rel="stylesheet" />
<link th:href="@{/css/table.css}" rel="stylesheet" />
<script type="text/javascript">
	function getSales() {
		var input, filter, table, tr, td, i, txtValue;
		input = document.getElementById("employee_name");
		filter = input.value.toUpperCase();
		table = document.getElementById("salesTable");
		tr = table.getElementsByTagName("tr");
		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[0];
			if (td) {
				txtValue = td.textContent || td.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}
</script>

<style>
.pagination-centered {
	text-align: center;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}
</style>
</head>

<body>
	<div th:replace="fragments/admin_header :: header"></div>

	<div class="container">
		<h2>View Sale Details</h2>
		<br>

		<div>
			<p th:text="${message}"></p>
		</div>
		<form action="#" th:action="@{viewSalesReport}" method="post">

			<div class="form-group row">
				<div class="col-md-1"></div>
				<div class="col-md-4">
					Select From Date: <input class="text" type="date"
						th:name="fromdate" id="fromdate" th:required="required" />
				</div>
				

				<div class="col-md-4">Select To Date:
					<input class="text" type="date" th:name="todate" id="todate" />


				</div>

				<div>
					<div>
						<button class="btn btn-primary" type="submit">Search</button>
					</div>
				</div>
				<div class="col-sm-1"></div>

				<label class="col-sm-2 col-form-label">Search By Employee:</label>
				<div class="col-sm-2">
					<select onchange="getSales()" class="form-control custom-select"
						id="employee_name" th:name="employee_name" required="required">
						<option value="userName" selected disabled>Choose
							Employee</option>

						<option th:each="emp : ${employees}" th:value="${emp}"
							th:utext="${emp}" />
					</select>
				</div>

			</div>
		</form>
	</div>

	<div align="justify">
		<h3 align="center" style="font-size: 150%;" th:text=" ${employee}"></h3>
	</div>
	<div align="center" style="color: red">
		<p th:text="${message}"></p>
	</div>

	<table id="salesTable">
		<tr>
			<th>Employee Name</th>
			<th>Date</th>
			<th>Product Name</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Total Price</th>

		</tr>
		<tr th:each="sale : ${sales}">

			<td th:text="${sale.employeeId}"></td>
			<td th:text="${sale.date}"></td>
			<td th:text="${sale.getProducts().getName()}"></td>
			<td th:text="${sale.getProducts().getQuantity()}"></td>
			<td th:text="${sale.getProducts().getPrice()}"></td>
			<td th:text="${sale.getProducts().getTotalPrice()}"></td>

		</tr>
	</table>

	<div th:if="!${#lists.isEmpty(sales)}">

		<div class="row" align="right">
			<div class="form-group col-md-1">
				<select class="form-control pagination" id="pageSizeSelect">
					<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
						th:value="${pageSize}"
						th:selected="${pageSize} == ${selectedPageSize}"></option>
				</select>
			</div>

			<div th:if="${sales.totalPages != 1}"
				class="form-group col-md-11 pagination-centered">
				<ul class="pagination">
					<li th:class="${sales.number == 0} ? disabled"><a
						class="pageLink"
						th:href="@{/admin/viewSalesReport/(pageSize=${selectedPageSize}, page=1)}">«</a></li>
					<li th:class="${sales.number == 0} ? disabled"><a
						class="pageLink"
						th:href="@{/admin/viewSalesReport/(pageSize=${selectedPageSize}, page=${sales.number})}">←</a>
					</li>
					<li
						th:class="${sales.number == (page - 1)} ? 'active pointer-disabled'"
						th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
						<a class="pageLink"
						th:href="@{/admin/viewSalesReport/(pageSize=${selectedPageSize}, page=${page})}"
						th:text="${page}"></a>
					</li>
					<li th:class="${sales.number + 1 == sales.totalPages} ? disabled">
						<a class="pageLink"
						th:href="@{/admin/viewSalesReport/(pageSize=${selectedPageSize}, page=${sales.number + 2})}">→</a>
					</li>
					<li th:class="${sales.number + 1 == sales.totalPages} ? disabled">
						<a class="pageLink"
						th:href="@{/admin/viewSalesReport/(pageSize=${selectedPageSize}, page=${sales.totalPages})}">»</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
<script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
    		changePageAndSize();
		});
		function changePageAndSize() {
   			$('#pageSizeSelect').change(function(evt) {
        	window.location.replace("/admin/viewSalesReport/?pageSize=" + this.value + "&page=1");
    		});
		}
        /*]]>*/
    </script>
   <div th:replace="fragments/footer :: footer"></div>
    
</body>

</html>