<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Fuel Station</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link th:href="@{/css/footer.css}" rel="stylesheet" />
<style type="text/css">
.center {
	display: block;
	margin-left: 200px;
	margin-right: auto;
	width: 12%;
}
</style>

</head>
<body>

	<div th:replace="fragments/employee_header :: header"></div>
	<img src="../static/images/account.png" class="center"
		th:src="@{/images/account.png}" />
	<div class="container my-5">
		<h3>View Account</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{saveEmployee}"
						th:object="${employee}" method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label"> Name</label> <input
									type="text" th:field="*{userName}" class="form-control"
									id="userName" placeholder="userName" />
							</div>
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label">Roles</label> <input
									type="text" th:field="*{roles}" class="form-control" id="roles"
									placeholder="roles" th:readonly="*{roles}" />
							</div>
							<div class="form-group col-md-8">
								<label for="email" class="col-form-label">Email</label> <input
									type="text" th:field="*{email}" class="form-control" id="email"
									placeholder="Email Id" />
							</div>
							<div class="form-group col-md-8">
								<label for="phone" class="col-form-label">Phone</label> <input
									type="text" th:field="*{phone}" class="form-control" id="phone"
									placeholder="phone" />
							</div>
							<div class="form-group col-md-8">
								<label for="salary" class="col-form-label">Salary</label> <input
									type="text" th:field="*{salary}" class="form-control"
									id="salary" placeholder="salary" th:readonly="*{salary}" />
							</div>

							<div class="col-md-6">
								<input type="submit" class="btn btn-primary" value=" Save ">
							</div>

							<input type="hidden" id="id" th:field="*{id}"> <input
								type="hidden" th:field="*{password}" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>