<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Fuel Station</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script type="text/javascript"
	src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link th:href="@{/css/footer.css}" rel="stylesheet" />
<link th:href="@{/css/table.css}" rel="stylesheet" />

<style>
.pagination-centered {
	text-align: center;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}
</style>

<script type="text/javascript">
	function searchByProduct() {
		var input, filter, table, tr, td, i, txtValue;
		input = document.getElementById("product");
		filter = input.value.toUpperCase();
		table = document.getElementById("productTable");
		tr = table.getElementsByTagName("tr");
		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[0];
			if (td) {
				txtValue = td.textContent || td.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}
</script>
</head>
<body>
	<div th:replace="fragments/admin_header :: header"></div>
	<div class="container">
	<div th:fragment="viewProducts">
		<h2>View Products</h2>
		
		<div class="col-sm-2"></div>
			
				<label class="col-sm-2 col-form-label">Select Product:</label>
				<div class="col-sm-2">
				 <select
					onchange="searchByProduct()" class="form-control custom-select"
					id="product" th:name="product">
					<option value="product" selected disabled>Choose Product</option>

					<option th:each="prd : ${productList}" th:value="${prd}"
						th:utext="${prd}" />
				</select>
			</div>
			<br>
		<table id="productTable">
		
			<tr>

				<th>Product Name</th>

				<th>Price</th>
				<th>Stock</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr th:each="product, status : ${products}">

				<td th:text="${product.name}"></td>
				<td th:text="${product.currentPrice}"></td>
				<td th:text="${product.getStock().getQuantity()}"></td>
				<td>
					<form action="#" th:action="@{/admin/editProduct}" method="post">
						<button class="btn btn-success btn-sm" id="btn"
							th:value="${product.id}" name="id" type="submit">Edit</button>

					</form>
				</td>
				<td>
					<form action="#" th:action="@{/admin/deleteProduct}" method="post">
						<button class="btn btn-danger btn-sm" id="btn"
							th:value="${product.id}" name="id" type="submit">Delete</button>

					</form>
				</td>



			</tr>
		</table>
	<div class="row" align="right">
		<div class="form-group col-md-1">
			<select class="form-control pagination" id="pageSizeSelect">
				<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
					th:value="${pageSize}"
					th:selected="${pageSize} == ${selectedPageSize}"></option>
			</select>
		</div>
		<div th:if="${products.totalPages != 1}"
			class="form-group col-md-11 pagination-centered">
			<ul class="pagination">
				<li th:class="${products.number == 0} ? disabled"><a
					class="pageLink"
					th:href="@{/admin/viewProducts/(pageSize=${selectedPageSize}, page=1)}">«</a></li>
				<li th:class="${products.number == 0} ? disabled"><a
					class="pageLink"
					th:href="@{/admin/viewProducts/(pageSize=${selectedPageSize}, page=${products.number})}">←</a>
				</li>
				<li
					th:class="${products.number == (page - 1)} ? 'active pointer-disabled'"
					th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
					<a class="pageLink"
					th:href="@{/admin/viewProducts/(pageSize=${selectedPageSize}, page=${page})}"
					th:text="${page}"></a>
				</li>
				<li
					th:class="${products.number + 1 == products.totalPages} ? disabled">
					<a class="pageLink"
					th:href="@{/admin/viewProducts/(pageSize=${selectedPageSize}, page=${products.number + 2})}">→</a>
				</li>
				<li
					th:class="${products.number + 1 == products.totalPages} ? disabled">
					<a class="pageLink"
					th:href="@{/admin/viewProducts/(pageSize=${selectedPageSize}, page=${products.totalPages})}">»</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>
		<script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
    		changePageAndSize();
		});
		function changePageAndSize() {
   			$('#pageSizeSelect').change(function(evt) {
        	window.location.replace("/admin/viewProducts/?pageSize=" + this.value + "&page=1");
    		});
		}
        /*]]>*/
    </script>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>